<ion-view title="Files in {{currentPath}}">
	<ion-content class="padding">
		<div ng-if="isLoading">
			<div><i class="icon ion-loading-d"></i></div>
			<p>Loading...</p>
		</div>

		<ion-list
			ng-if="! isLoading">
			<ion-item type="item"
				ng-repeat="file in fileList"
				ng-click="showFile( file );"
				class="item-icon-right">
				<!-- href="#/files/{{ file.path }}" -->
				<!-- href="/tab/daily/{{file.id}}"> -->

				<h2>{{file.path | baseName}}</h2>

				<i class="icon ion-chevron-right" ng-if="file.isFolder"></i>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>