<ion-view title="Dashboard">
    <ion-content class="padding">
        <h1>Dash</h1>

        <!-- Account Linking/Smoke Test -->
        <div ng-if="! isDropboxLinkInProgress">
            <button ng-if="! isDropboxLinked"
            	ng-click="link();"
            	class="button button-block button-positive">
                Link Account
            </button>

            <button ng-if="isDropboxLinked"
            	ng-click="unlink();"
            	class="button button-block button-assertive">
                Unlink Account
            </button>
        </div>
        <div ng-if="isDropboxLinkInProgress">
        	<button class="button button-block button-stable disabled">
        		i.icon.ion-loading-d
        	</button>
        </div>
    </ion-content>
</ion-view>